[submodule "e22900t22"]
	path = e22900t22
	url = https://github.com/matthewgream/e22900t22
[submodule "hostmon"]
	path = hostmon
	url = https://github.com/matthewgream/hostmon.git
[submodule "mqtt-deployer"]
	path = mqtt-deployer
	url = https://github.com/matthewgream/mqtt-deployer.git
[submodule "rak3272"]
	path = rak3272
	url = https://github.com/matthewgream/Rak3272
	branch = port_linux
[submodule "wm1302"]
	path = wm1302
	url = https://github.com/matthewgream/wm1302
